<!DOCTYPE html>
<html>
<head>
  <title>APIBOX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">

  <style>
  .container {
    max-width: 1000px;
  }
  .box:hover{
  /*background-color: grey;*/
  border: 1px solid blue; /* make this whatever you want */
  border-color: rgba(126, 239, 104, 0.8);
/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);*/
}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-0">
        <h1>APIBOX</h1>
        <br>
        <form role="form" method="POST" action="/">
          <div class="form-group">
            <input type="text" name="p_name" class="form-control" id="url-box" placeholder="Project Name" style="max-width: 300px;" >
            <input type="text" name="api_ver" class="form-control" id="url-box" placeholder="Version" style="max-width: 300px;" value='1.0'>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <br>
        <br>
      </div>
      <div class="col-sm-5 col-sm-offset-2">
        {% if results %}
        <h2>Current Projects</h2>
        <br>
        <div id="results">
          <table class="table table-striped" style="max-width: 300px;">
            <thead>
              <tr>
                <th>Name</th>
                <th>API's version</th>
              </tr>
            </thead>
            {% for result in results %}
            <tr>
              <td><a href="/sub/qo{{result.id}}">{{ result.name }}</a></td>
              <td>{{ result.version }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        
      </div>
      <div class="col-sm-12">
        {% if endpoints %}
        <div class= "subprojects col-sm-8">
          

          {% for ep in endpoints %}

          <h2> <a href="sub/{{ep.title}}">{{ep.title }}</a> <span> <h4>{{ep.category.name}}</h4> </span></h2><br>

          {% endfor %}
        </div>
          <div class="neweps col-sm-4">
            <h2>Crete New</h2>
            <form action="/subprojects" method=post>
              {{form.hidden_tag()}}
              <dl>
                <dt>Title:
                  <dd>{{ form.title }}</dd></dt>
                  <dt>Data:
                    <dd>{{ form.body(cols="35", rows="10") }}</dd></dt>
                    <dt>Project:
                      <dd>{{ form.category }}</dd></dt>
                    </dl>
                    <input type=submit value="Publish">
                  </form>
                  <br>
          </div>
          {% else %}

       {% block data %}
       {% endblock %}
          <div class="neweps pull-right col-sm-4">
            <h2>Crete New</h2>
            <form action="/subprojects" method="post">
              {{form.hidden_tag()}}
              <dl>
                <dt>Title:
                  <dd>{{ form.title }}
                  </dd>
                </dt>
                <dt>Data:
                  <dd>{{ form.body(cols="35", rows="10") }}
                  </dd>
                </dt>
                <dt>Project:
                  <dd>{{ form.category }}</dd>
                </dt>
              </dl>
              <input type=submit value="Publish">
            </form>
            <br>
      {% endif %}
  {% endif %}
          
        </div>


      </div>
    </div>
<!-- 
    <form>
    <label for="name" class="control-label"><p class="text-info">Saghir</p><i class="icon-star"></i></label>
      <div class="controls">
         <a href="#" id="edit" class="btn">Edit</a>
       </div> -->
       <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
       <br><br>


       <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
       <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
     </body>
     </html>
     <script type="text/javascript"> 
     $('#edit').click(function() {
       var text = $('.text-info').text();
       var input = $('<input id="attribute" type="text" value="' + text + '" />')
       $('.text-info').text('').append(input);
       input.select();

       input.blur(function() {
         var text = $('#attribute').val();
         $('#attribute').parent().text(text);
         $('#attribute').remove();
       });
     });
     </script>

     <script type="text/javascript">
     $(".create-new").click(function(e) {
      $(".neweps").show();

      e.preventDefault();
    });
     </script>