<!DOCTYPE html>
<html>
<head>
    <title>Apibox UI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- scripts -->
    <section>

        <script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/apibox/app.js')}}"></script>
        <!--<script type="text/javascript" src="{{url_for('static',filename='js/angular.min.js')}}"></script>-->

        <!--<script type="text/javascript" src="{{url_for('static',filename='js/angular-resource.js')}}"></script>-->

        <!--<script type="text/javascript" src="{{url_for('static',filename='js/apibox/controllers/mainController.js')}}"></script>-->

    </section>

    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

</head>
<style>   .box { width:350px; } .popover{
    max-width: 100%; // Max Width of the popover (depending on the container!)
}

 </style>

<body ng-app="ApiboxUI">
    <div class="header">
        <div class="container">

            <!--<a href="#" class="link-a">Create Application</a>-->
            <!--<button  type="button" class="btn btn-primary pop-bottom link-a" data-toggle="popover" data-placement="bottom" title="Create App" >Create Application</button>-->

            <div class="popover-markup pull-right"> <a href="#" class="trigger"> Create New</a>

                <div class="content hide">
                    <form action="/app/new_ui" method="POST" content="application/json">
                    <div class="form-group">
                        <input name="name" class="form-control" placeholder="App Name"/>
                        <input name="pefix" class="form-control" placeholder="Prefix"/>
                        <input name="Version" class="form-control" placeholder="Version"/>
                        <h3> Create your Endpoints Below </h3>
                    </div>
                    <button type="submit" class="btn btn-default btn-block">Submit</button>
                     </form>
                </div>
            </div>
            <a href="#" class="logo"></a>
            <div class="clearfix"></div>
                <img  src="{{url_for('static', filename='img/mock.png')}}" style="margin-top:-100px">
                <form action="/app/new" method="POST" enctype="multipart/form-data">
                <ul class="form-list">
                <li>
                    <label class="label-form"> </label>
                    <div class="form-box">
                        <input class="input-a browse-btn" type="file" name="filehere"></input>
                    </div>
               
                    </li>
                </ul>
                <button>Submit </button>
             </form>          
       </div>
     </div>
    <!--<li>   {{st}}</li>-->
    <!--<li>   existing</li>-->
    <!--<li>   {{a}}</li>-->

    {%if status%}
    <div class='notifications top-left text-center' style="font-size:35px">{{status}}</div>
    {%endif%}

    <div class="main-content" ng-controller="mainController"  ng-init="init()">
        <div style="padding-bottom:50px">
            <table style="width:100%" class="container">
                <tr class="row">
                    <td style="width:50%;vertical-align: top" class="col-lg-5">
                        <div style="padding-bottom:20px">

                            <h3>Add Configurations</h3>
                        </div>

                          <button  type="button" class="btn btn-primary pop-bottom pull-right allends" data-toggle="popover" data-placement="bottom" title="Endpoints" >All Endpoints</button>

                             <div class="endcontent hide">
                                 <div class="stage"> </div>
                                </div>
                        <form class="form-horizontal" role="form"  action="#" method="POST">
                            <!--<a class="allends" href="">View End Points</a>-->

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Path</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="path" ng-model="path" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Method</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="method" ng-model="method" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Response</label>
                                <div class="col-sm-6">
                                    <textarea type="text" class="form-control" name="response" ng-model="response"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="padding-left:110px">
                                    <input type="submit" value="Submit" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                        </td>
                    </td>
                    <td style="vertical-align: top" class="col-lg-5">
                        <table class="table table-hover">
                            <caption class="font-bold">Select an Application</caption>
                            <thead>
                                <tr>
                                    <th>Application Name</th>

                                </tr>
                            </thead>
                            <tbody class="configList">
                            {% for config in a.keys()%}
                                <tr ng-repeat="config in configurations" ng-click="editRow(config.path)">
                                    {%if st.has_key(config)%}
                                   <form action="/app/start/{{config}}" method="POST">
                                       {%else%}
                                       <form action="/app/stop/{{config}}" method="POST">
                                           {%endif%}
                                    <td class="myapp"  >{{config}}</td>
                                    <td>
                                        {% if st.has_key(config)  %}
                                        <input type="submit" value="Start" class="btn btn-link btn-xs" ng-click="removeRow(config.path)"/>
                                        {%else%}
                                        <input type="submit" value="Stop" class="btn btn-link btn-xs" ng-click="removeRow(config.path)"/>
                                        {%endif%}
                                    </td>
                                       </form>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>



<script>
$('.myapp').on('click',function(){
console.log($(this).html());
$('.form-horizontal').attr('action','/app/'+$(this).html()+'/endpoint');
$('.allends').attr('href','/app/'+$(this).html()+'/endpoint');
$('.rowSelect').removeClass('rowSelect');
$(this).parent().addClass('rowSelect');
})
</script>

<script type="text/javascript">
$(document).ready(function(){

    $(".pop-bottom").popover({placement : 'bottom'});

});
</script>
<script type="text/javascript">
$('.popover-markup .trigger').popover({
    placement : 'bottom',
    html: true,
    title: function () {
        return $(this).parent().find('.head').html();
    },
    content: function () {
        return $(this).parent().find('.content').html();
    }
});
</script>

    <script type="text/javascript">
$('.allends').popover({
    placement : 'bottom',
    html: true,
    content: function () {
        return $(this).parent().find('.endcontent').html();
    }
});
</script>

<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $(".allends").click(function(event){
      $.getJSON($(".allends").attr('href'), function(jd) {
        var ep = $(".allends").attr("href")
         $.each(jd, function(index) {
            //alert(data[index].TEST1);
            //alert(data[index].TEST2);
            //$('.stage').append('<form action="'+ep+'" method="DELETE"> <button><h4 name="number">'+index+'</h4> <h2>' + jd[index] + '</h2></button> </form>');
            $('.stage').append(' <h2>' + jd[index] + '</h2>');
        });


      });
  });
});
</script>

</body>
</html>
