<!DOCTYPE html>
<html>
<head>
    <title>Apibox UI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

</head>


<body ng-app="ApiboxUI">
    <div class="header">
        <div class="container">
            <a href="#" class="link-a">login</a>
            <a href="#" class="logo"></a>
            <div class="clearfix"></div>
                <img  src="{{url_for('static', filename='img/mock.png')}}" style="margin-top:-100px">
                <form action="/app/new" method="POST" enctype="multipart/form-data">
                <ul class="form-list">
                <li>
                    <label class="label-form"> </label>
                    <div class="form-box">
                        <input class="input-a browse-btn" type="file" name="filehere"></input>
                    </div>
               
                    </li>
                </ul>
                <button>Submit </button>
             </form>          
       </div>
     </div>
    <!--<li>   {{st}}</li>-->
    <!--<li>   existing</li>-->
    <!--<li>   {{a}}</li>-->

    {%if status%}
    <div class='notifications top-left text-center' style="font-size:35px">{{status}}</div>
    {%endif%}

    <div class="main-content" ng-controller="mainController"  ng-init="init()">
        <div style="padding-bottom:50px">
            <table style="width:100%" class="container">
                <tr class="row">
                    <td style="width:50%;vertical-align: top" class="col-lg-5">
                        <div style="padding-bottom:20px">

                            <h3>Add Configurations</h3>
                        </div>
                        <form class="form-horizontal" role="form"  action="/app/kanth/endpoint" method="POST">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Path</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="path" ng-model="path" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Method</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="method" ng-model="method" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Response</label>
                                <div class="col-sm-6">
                                    <textarea type="text" class="form-control" name="response" ng-model="response"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="padding-left:110px">
                                    <input type="submit" value="Submit" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                        </td>
                    </td>
                    <td style="vertical-align: top" class="col-lg-5">
                        <table class="table table-hover">
                            <caption class="font-bold">Select an Application</caption>
                            <thead>
                                <tr>
                                    <th>Application Name</th>

                                </tr>
                            </thead>
                            <tbody class="configList">
                            {% for config in a.keys()%}
                                <tr ng-repeat="config in configurations" ng-click="editRow(config.path)">
                                    {%if st.has_key(config)%}
                                   <form action="/app/start/{{config}}" method="POST">
                                       {%else%}
                                       <form action="/app/stop/{{config}}" method="POST">
                                           {%endif%}
                                    <td class="myapp"  >{{config}}</td>
                                    <td>
                                        {% if st.has_key(config)  %}
                                        <input type="submit" value="Start" class="btn btn-link btn-xs" ng-click="removeRow(config.path)"/>
                                        {%else%}
                                        <input type="submit" value="Stop" class="btn btn-link btn-xs" ng-click="removeRow(config.path)"/>
                                        {%endif%}
                                    </td>
                                       </form>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- scripts -->
    <section>

        <script type="text/javascript" src="{{url_for('static',filename='js/apibox/app.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/angular.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/angular-resource.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/apibox/controllers/mainController.js')}}"></script>

        <script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    </section>


<script>
$('.myapp').on('click',function(){
console.log($(this).html());
$('.form-horizontal').attr('action','/app/'+$(this).html()+'/endpoint');
$('.rowSelect').removeClass('rowSelect');
$(this).parent().addClass('rowSelect');
})
</script>

</body>
</html>
