<!DOCTYPE html>
<html>
<head>
    <title>Apibox UI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

</head>
<body ng-app="ApiboxUI">
    <div class="header">
        <div class="container">
            <a href="#" class="link-a">login</a>
            <a href="#" class="logo"></a>
            <div class="clearfix"></div>
           
                <form action="/app/new" method="POST" enctype="multipart/form-data">
                <ul class="form-list">
                <li><input name="app_name" placeholder= "Application Name"/></li>
                <li><input name="port_number" type="number" placeholder= "port number other than 5000 and 8000"/></li>
                <li>
                    <label class="label-form"> </label>
                    <div class="form-box">
                        <input class="input-a browse-btn" type="file" name="filehere"></input>
                    </div>
               
                    </li>
                </ul>
                <button>Submit </button>
             </form>          
       </div>
     </div>
       
    <div class="main-content" ng-controller="mainController" ng-init="init()">
        <div style="padding-bottom:50px">
            <table style="width:100%" class="container" id="appTable">
                <tr class="row">
                    <td style="vertical-align: top" class="col-lg-5">
                        <table class="table table-hover">
                            <caption class="font-bold">Select an Application</caption>
                            <thead>
                                <tr>
                                    <th>Application Name</th>
                                    <th>Port Number</th>
                                </tr>
                            </thead>
                            <tbody class="configList">
                            {% for config in a.keys()%}
                                <tr ng-click="editRow(config.path)">
                                   
                                    <td><a href="#app/{{config}}">{{config}}</a></td>
                                    <td>{{a[config].split("$$")[1]}}</td>
                                    <td>
                                        <input type="button" value="Remove" class="btn btn-link btn-xs" data-config="{{config}}" ng-click="removeRow()"/>
                                    </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>

            <div ng-view></div>
        </div>
    </div>

    <!-- scripts -->
    <section>

        <script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

        <script type="text/javascript" src="{{url_for('static',filename='js/angular.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/angular-resource.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/angular-route.js')}}"></script>

        <script type="text/javascript" src="{{url_for('static',filename='js/apibox/app.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/apibox/controllers/mainController.js')}}"></script>
    </section>

</body>
</html>
