{% extends 'base.html' %}
{% block body %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="index.css">
<style type="text/css">
input.input{
    height: 35px;
}
.col-md-12{
    padding:0px;
}
.mar-r{
    margin-right: 600px;
}

.mar-r-d{
    margin-right: 500px;
}
</style>
<div class="container">

    <div class="row">
        {% if current_user.is_authenticated() %}
        <h1>Haywire Box</h1>
        <p class="lead">
            Successfully parsed data 
        </p>
        <p>

          Here are your end Points ; Now you can access your data and post the data to respective endpoints 
        </p>
            <div class="container">
                {% for ep in enpts %}
                <form>
                <p class="output"></p>

                <button type="button" class="ajax-call">{{ep}}</button>
            </form>

                {%endfor%}
             </div>
        
        {% else %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
            {{ f.label }}
            {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <button class="btn" type="submit">Submit</button>
        </form>
        {{ link | safe }}
        {% endif %}
    </div>

    <!-- <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back</a> -->
</div>
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script> -->
 <script type="text/javascript">
 //var a=$(".ajax-call").length
                    $(".ajax-call").on("click",function(){
                        console.log($(this))
                        var b=$(this).html();
                        console.log(b)
                        $.post( b, function( data ) {
                            console.log(data)
                            //$(this).prev().html(data);
                            //$(".output").append(data);
                          
                        });
                    })
                </script>
{% endblock body %}