{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="index.css">
<style type="text/css">
input.input{
    height: 35px;
}
.col-md-12{
    padding:0px;
}
.mar-r{
    margin-right: 600px;
}

.mar-r-d{
    margin-right: 500px;
}
</style>
<div class="container">

    <div class="row">
        {% if current_user.is_authenticated() %}
        <h1>Haywire Box</h1>
        <p class="lead">
            Authentication
        </p>
        <p>
            Welcome to Haywire Box section. Get ready to create a box. Enter the blow Details and submit. 
        </p>
        <form method="post" action="/boxit" class="col-md-12">
            <div class="section-1 col-md-12">
                <input type="text" name="cname" placeholder="Company Name" class="col-md-3 input" >
                <input type="text" name="api_version"  placeholder="API version" class="col-md-3 input">
                <input type="text" name="api_prefix"  placeholder="API prefix" class="col-md-3 input" >
            </div>
            
            <div class="section-2 col-md-12">
                
                <div class="iteration0">
                    <h4>1 <span class="mar-r pull-right">  sample Input  </span></h4> 
                    <div class="col-md-12" >
                        <input type="text" name="path0" placeholder="Path" class="col-md-3 input" >
                        <span class="mar-r-d pull-right">'/user/login' or '/home'</span>   
                    </div>
                    <div class="col-md-12">
                        <input type="text" name="methods0" placeholder="Method" class="col-md-3 input" >
                        <span class="mar-r-d pull-right">POST, GET, PUT, DELETE </span>   
                    </div>
                    <div class="col-md-12">
                        <input type="text" name="req_body0" placeholder="Request body" class="col-md-3 input" > 
                        <span class="mar-r-d pull-right">{
                "username" : "[\w]*",
                "password" : "***"
            } </span>
                    </div>
                    <div class="col-md-12">
                        <input type="text" name="result_s0" placeholder="Result success" class="col-md-3 input" >
                           <span class="mar-r-d pull-right"> {
                    "name": "User 1",
                 }</span>
                    </div>

                    <div class="col-md-12">
                        <input type="text" name="result_f0" placeholder="Result failure" class="col-md-3 input" >
                        <span class="mar-r-d pull-right"> {
                    "msg": "invalid image"
                }</span>
                    </div>
                </div>
            </div>
                <button type="button" class="add">Add</button>
                <button type="button" class="done">Done</button>
            <button  type="submit" class="submit" > <i class="icon-arrow-right icon-white"></i> Submit</button>

            {{ link | safe }}
        </form>
        Thank you.
        
        {% else %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
            {{ f.label }}
            {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <button class="btn" type="submit">Submit</button>
        </form>
        {{ link | safe }}
        {% endif %}
    </div>

    <!-- <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back</a> -->
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript">

    i=1;
    $(".done").on("click",function(){
        $(".submit").removeClass("hide");
    })
    $(".add").on("click",function(){
        var str='<div class="iteration'+i+'">\
            <h4>'+ (i+1).toString() +'</h4>\
                <div class="col-md-12">\
                    <input type="text" name="path'+i+'" placeholder="Path" class="col-md-3 input" >\
                </div>\
                <div class="col-md-12">\
                    <input type="text" name="methods'+i+'" placeholder="Method" class="col-md-3 input" >\
                </div>\
                <div class="col-md-12">\
                    <input type="text" name="req_body'+i+'" placeholder="Request body" class="col-md-3 input" >\
                </div>\
                <div class="col-md-12">\
                    <input type="text" name="result_s'+i+'" placeholder="Result success" class="col-md-3 input" >\
                </div>\
                <div class="col-md-12">\
                    <input type="text" name="result_f'+i+'" placeholder="Result failure" class="col-md-3 input" >\
                </div>\
            </div>';
    $(".section-2").append(str);
    i++;
});
</script>
{% endblock body %}